<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- TODO  -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>React+Node Starter</title>
    </head>
    <body>
        <div id="root" style="height: 100%; width: 100%;"></div>
    </body>
</html>
